# This workflow will do a clean install of node dependencies, cache/restore them, build the source code, run tests and build the code to check linter
name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: 20
      - run: |
          npm ci
          npm run test
          npm run build
