# This workflow will run tests using node and then publish a package to NPM when a tag is pushed

name: Publish wrapito to npm
on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-beta*'
permissions:
  contents: write
  id-token: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm ci
      - run: npm version --no-git-tag-version ${GITHUB_REF##*/}
      - name: Publish package
        run: |
          if [[ ${{ github.ref }} == *-beta* ]]; then
            npm run publish-package:beta --access public
          else
            npm run publish-package --access public
          fi
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@6faf020194b7c8853f9e55c4fd92e40b02122a04 #6.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b #2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          body: ${{ steps.github_release.outputs.changelog }}
          draft: false
          prerelease: ${{ contains(github.ref, '-beta') }}