# This workflow will run tests using node and then publish a package to NPM when a tag is pushed

name: Publish wrapito to npm
on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-beta*'

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm version --no-git-tag-version ${GITHUB_REF##*/}
      - name: Publish package
        run: |
          if [[ ${{ github.ref }} == *-beta* ]]; then
            npm run publish-package:beta
          else
            npm run publish-package
          fi
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@439f79b5b5428107c7688c1d2b0e8bacc9b8792c #6.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{steps.github_release.outputs.changelog}}
          draft: false
          prerelease: ${{ contains(github.ref, '-beta') }}
